<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Amina 2</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Amina 2</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>نحتاج إلى الوصول إلى موقعك لتحديد مدينتك تلقائياً وتوصيلك بمقدمي الخدمات القريبين منك</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>نحتاج إلى الوصول إلى موقعك لتحديد مدينتك تلقائياً</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>نحتاج إلى الوصول إلى موقعك لتحديد مدينتك تلقائياً</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>نحتاج للوصول إلى معرض الصور لتتمكن من رفع صورتك الشخصية والمستندات المطلوبة</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<!-- Deep Linking for PaySky payment callbacks -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aminaapp</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.amina.payment</string>
		</dict>
		<!-- Google Sign-In URL Scheme -->
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.752936570315-ht42rphdcb9vu99migdi1957t7r6diqb</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.amina.google</string>
		</dict>
	</array>
</dict>
</plist>
