<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.usdk.android" >

    <uses-sdk android:minSdkVersion="16" />

    <application>
        <activity
            android:name="com.usdk.android.ChallengeActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/DefaultChallengeTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.usdk.android.UsdkPromptActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/UsdkTheme.Prompt"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.usdk.android.AuthActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/UsdkTheme.Prompt"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>